doctype html 
html
    head 
        title YourLifesite | Password 
        style 
            include ../../public/passwordpage.css


        body 

            nav.navbar 
                .max-width 
                    .logo 
                        a(href='/') YourLifesite 
                    ul.menu 
                        li 
                            a(href='/mypws') My Passwords 
                        li 
                            a(href='/pwgenerator') Password Generator 
                        li 
                            a(href='/weather') Weather

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>    


            .passwordContainer
                label(for='websiteName') Website Name: 
                input#websiteName(type='text' name='websiteName' value=websiteFound.websiteName disabled='')
                <br>
                <br>
                label(for='websitePassword') Website Password: 
                input#websiteName(type='text' name='websitePassword' value=websiteFound.websitePassword disabled='')
