doctype html 
html
    head 
        title YourLifesite | Passwords 
        style 
            include ../../public/passwordspage.css
    
    body 

        nav.navbar 
            .max-width 
                .logo 
                    a(href='/') YourLifesite
                ul.menu 
                    li 
                        a(href='/mypws') My Passwords 
                    li 
                        a(href='/pwgenerator') Password Generator 
                    li 
                        a(href='/weather') Weather

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        h1="Passwords"

        if (websitesToSend && websitesToSend.length > 0)

            for password in websitesToSend 
                ul 
                    a(href=`/mypws/${password._id}`)=password.websiteName 

        else 
            p="No passwords we're found."
